<!DOCTYPE html>
<html>
  <head>
    <title>Online Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag src="https://d1f8f9xcsvx3ha.cloudfront.net/sbl/0.8.3/fastspring-builder.min.js", id: "fsc-api", type: "text/javascript", data: { storefront: "banahogg-whitelabel.test.onfastspring.com/popup-banahogg-whitelabel", 'popup-webhook-received' => "popupWebhookReceived", "popup-closed" => "popupClose" } %>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
